h1{
    text-align: center;
}
.imagen{
    height: 180px;
    width: 220px;
    border-radius: 49%;
}
.flexbox1{
    display: flex;
    justify-content: center;
    padding-top: 4%;
}
.flexbox2{
    display: flex;
    justify-content: center;
    padding-top: 4%;
}
.item1{
    margin-right: 10%;
    margin-left:10%;
}
.item2{
    margin-right: 10%;
    margin-left:10%;
}
h3,h4{
    text-align: center;
    margin: 10px;
}

