table,td{
    border:  whitesmoke 2px groove;
}
.vacio{
    border:none;
}
.nometales{
    background-color: #DDABFF;
}
.alcalino{
    background-color: #F7CAAC;
}
.alcalinoterreos{
    background-color: #f5ce58;
}
.centrocolumnas{
    background-color: #FFFF00;
}
.semimetal{
    background-color: #68FB61;
}
.gasesnobles{
    background-color: #00CCFF;
}
.columna17{
    background-color: #FF66FF;
}
.metaldebloque{
    background-color: #FF66FF;
}
.segundatabla{
    margin-top: 50px;
    margin-left: 150px;
}
.lantanidosyactinidos{
    background-color: #72945a;
}