body , html {
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}

.contenedor-Seccion {
    display: flex;
    background-image: url('./patron.png');
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.contenedor-formulario {
    background-color: #0c1c41;
    padding: 50%;
    text-align: center; 
    padding: 20px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    width: 30%;
    border-radius: 10px;
}

#komi {
    height: 200px;
    width: 200px;
}

.Seccion-form{
    justify-content: center;
    margin: 0% 20% 0% 20% ;
}

.Seccion-input input[Type="text"], [Type="number"], [Type="password"]{
    margin: 10% 0% 15% 0% ;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    height: 30%;
    width: 80%;
    color: #fff;
    font-size: 16px;
    display: block;
}

.Seccion-botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3px 3px 3px 3px;
    
}
.Seccion-control {
    margin: 0% 0% 0% 0% ;
    text-decoration: none;
    border: none;     
}
.Seccion-control, a{
    text-decoration: none;
    font-style: none;
    color: white;
}

button{
    background-color: #3874c4;
    border: none;
    color: white;
    padding: 10px 24px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px 3px 3px 3px;
}
button:hover{
    background-color: rgb(143, 120, 247);
}

::placeholder {
    color: rgb(97, 95, 95);
    font-size: 18px;
  }

  footer {
    display: flex;
    flex-direction: row;
    background-color: #0b1f4d;
    color: #ACE5FF;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


    footer img {
        width: 100px;
        height: 100px;
        margin: 0 0% 0 30%;
        border-radius: 50px;
    }

