
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:   #daf8ff
}

h1{
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-size: 250%;
    color: #ACE5FF;
}



h3{
    text-align: center;
}

header{
    background: #143278;
    text-align: center;
    margin: 0%;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    padding-left: 25px;

}

    header .logo{
    height: 150PX;
    width: 150PX;
    }


    .encabezado{
        width: 100%;
        background-color: #143278;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.menu{
    background-color: #143278;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.encabezado1{
    width: 100%;
    padding: 10% 0% 5% 0%;
    text-align: center;


}
    .encabezado1 h2{
        font-family: "Segoe UI";
        font-size: 350%;
        color: #ffffff;
    }
        


.encabezado2{
    background-color: #143278;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    
    .encabezado2 div{
        display: flex;
        justify-content:left;
    }
    .encabezado2 div ul {
        list-style: none;
        display: flex;
        justify-content:space-between;
    }
    
    a{
        text-decoration: none;
        font-size: 125%;
        font-family: "Segoe UI";
        color: rgb(255, 255, 255);
        padding: 12px 20px;
        display: block;
    }

    .encabezado2 a:hover{
        background: #ACE5FF;
        color: #011963;
    }


    .encabezado2 div ul li ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #49B9D5;
        display: none;
    }
    .encabezado2 div ul li:hover > ul{
        display: block;
    }

.contenedor-bienv{
    height: 200px;
}
.contenedor-bienv img{
    height: 100%;
    width: 100%;
}


.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    padding: 3%;
    background-color: #f3d3da;

}

.contenedor-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    padding: 3%;

}

.subcontenedor{
    border-radius: 5px;
    padding-left: auto;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #ACE5FF;


}

    .subcontenedor-1{
        border-radius: 5px;
        padding-left: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #011963;
        


    }
        
        .item1-VideosN{
            text-align: center;
            
        }
        .item1-VideosN a{
            color: rgb(255, 0, 0);
            
        }

.contenedor-2{
    padding: 2%  15% 2% 15%;
}
    .subcontenedor-2{
        border-radius: 10px;
        padding: 0px;
    }

    #imagenfondo{
        background-repeat: no-repeat;   
        background-size: 100%;
        background-image: url('./imagen/ilustracion8.png'); 
    }
    
        .item2-Tabla{
            position: relative;
            min-height: 200px;
            overflow: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-basis: 400px;
            color: #ffffff;
            text-shadow: 8px 8px 16px #000000;
            z-index: 3;
        }

        .item3-Tabla {
            border: 3px solid #011963;
            min-height: 100px;
        }

        .item2-Tabla h3{
            text-align: left;

        }

        #transparencia  a:hover{
        background: #ACE5FF;
        opacity: 0.5;
        color: #011963;
        z-index: 1;
        }
        
        
    
        
#contenedor-basico{display: grid; grid-template-rows: repeat(2, ifr);margin: 10px;}
    

#marge{margin: 0px 50px 0px 50px;display: inline-block;}


footer {
    display: flex;
    flex-direction: row;
    background-color: #0b1f4d;
    color: #ACE5FF;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}

    footer h2{
        font-family: 'ABeeZee', sans-serif;
        font-size: 125%;
        color: #ffffff;
    }
    footer img {
        width: 100px;
        height: 100px;
        margin: 0 0% 0 30%;
        border-radius: 50%;
    }

