/*Como son distintos fondos se coloca id ya que no se usara más de un elemento */
#Ciencia{
    background-color: #4a89c7;
  }
#Programacion{
    background-color:  #d196d1;
  }
#Quimica{
    background-color: #147e7e;
  }

/* El titulo de todas las paginas tendra un encabezado destacando el titulo  */
header{
    overflow: auto;
    text-align: center;
}

h1 {
    color:   #CCCC99;
    font-family: Arial, sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin: 1px;
    text-shadow: 0 0 5px #011963;
}

h3 {
    color:  #011963;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    margin: 1px;
    padding: 1px;
}

/* Ayuda para que los elementos sean tomados en linea  */
div{
    padding: 10px;
    overflow: auto;
    display: inline-block;
}

.encabezadosec{
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 20px;
}


h4{
    color:#011963;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    margin: 20px;
} 

    .alterh4{
        color:#011963;
        font-family: "Times New Roman", Times, serif;
        font-size: 30px;
        text-align: center;
        margin: 20px;
    } 

p{
    text-align: justify;
    overflow: auto;
    display: block;
    padding: 10px;
    text-align: center;
}

    .pCiencia{
        color: #011963;
        font-family: Helvetica;
        font-size: 15px; 
        margin: 1px;
    }

    .pProgramacion{
        color:#011963;
        font-family: "Courier New", Courier, monospace;
        font-size: 20px;
        margin: 20px;
    } 
    .pQuimica{
        color: #CCCC99;
        font-family: Georgia, serif;
        font-size: 20px;
        margin: 20px;
    } 
  
.formulario{font-family: "Courier New", Courier, monospace;
    color:#1d0404;}

fieldset {background-color: #eeeeee;}
      
legend {
        background-color: gray;
        color:  white;
        padding: 5px 10px;
}
      
input {margin: 5px;}

/* El link sera de este color. 
Una vez sea visitado el link se quiere que tenga el mismo color con el cual se inicio*/
a:link, a:visited{color:#042036;}


/* Cuando se pasa el puntero en dirección a un enlace se agrandara y cambiara el color del fondo */
a:hover {
    background-color: #1f5858;
    transform: scale(1.2);
}

/*Cuando se presiona o activa el enlace saldra de distinto color y el bloque del enlace también cambia de color*/
a:active{
    background-color:#4ca1e5;
    color:#12527c;
}

/* El formato que se usa con los links */
.enlacepie:link{
    flex: 1;
    text-decoration:none;
    font-weight: bold; 
    font-family: sans-serif;
    text-align: center;
    display: block;
}


.container {
    display: flex;
    gap: 0.625%;
  }


