
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:   #daf8ff
}
#bodym{
    height: 100%;
}

h1{
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-size: 250%;
    color: #ACE5FF;
}



h3{
    text-align: center;
}

header{
    background: #143278;
    text-align: center;
    margin: 0%;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    padding-left: 25px;

}

    header .logo{
    height: 150PX;
    width: 150PX;
    }


    .encabezado{
        width: 100%;
        background-color: #143278;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.menu{
    background-color: #143278;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.encabezado1{
    width: 100%;
    padding: 10% 0% 5% 0%;
    text-align: center;


}
    .encabezado1 h2{
        font-family: "Segoe UI";
        font-size: 350%;
        color: #ffffff;
    }
        


.encabezado2{
    background-color: #143278;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    
    .encabezado2 div{
        display: flex;
        justify-content:left;
    }
    .encabezado2 div ul {
        list-style: none;
        display: flex;
        justify-content:space-between;
    }
    
    a{
        text-decoration: none;
        font-size: 125%;
        font-family: "Segoe UI";
        color: rgb(255, 255, 255);
        padding: 12px 20px;
        display: block;
    }

    .encabezado2 a:hover{
        background: #ACE5FF;
        color: #011963;
    }


    .encabezado2 div ul li ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #49B9D5;
        display: none;
    }
    .encabezado2 div ul li:hover > ul{
        display: block;
    }

.contenedor-bienv{
    height: 200px;
}
.contenedor-bienv img{
    height: 100%;
    width: 100%;
}


.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    padding: 3%;
    background-color: #f3d3da;

}

.contenedor-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    padding: 3%;

}

.subcontenedor{
    border-radius: 5px;
    padding-left: auto;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #ACE5FF;
}

    .subcontenedor h3{
        font-size: 100%;
        color: #000000;
    }


    .subcontenedor p{
        font-size: 100%;
        color: #000000;
        text-align: justify;
    }


    .subcontenedor-1{
        border-radius: 5px;
        padding-left: auto;
        background-repeat: no-repeat;
        height:100%;
        background-position: center;
        background-color: #011963;
        


    }
        
        .item1-VideosN{
            text-align: center;
            
        }
        .item1-VideosN a{
            color: rgb(255, 0, 0);
            
        }

.contenedor-2{
    padding: 2%  15% 2% 15%;
}
    .subcontenedor-2{
        border-radius: 10px;
        padding: 0px;
    }

    #imagenfondo{
        background-repeat: no-repeat;   
        background-size: 100%;
        background-image: url('./imagen/ilustracion8.png'); 
    }
    
        .item2-Tabla{
            position: relative;
            min-height: 200px;
            overflow: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-basis: 400px;
            color: #ffffff;
        }

        .item3-Tabla {
            min-height: 100px;
            color: #000;
            font-size: 100%;
            font-family: "Segoe UI";
        }

        .item2-Tabla h3{
            text-align: left;

        }

        #transparencia  a:hover{
        background: rgba(184, 225, 244, 0.5);

        }
        
        
    
        
#contenedor-basico{display: grid; grid-template-rows: repeat(2, ifr);margin: 10px;}
    

#marge{margin: 0px 50px 0px 50px;display: inline-block;}

/*Michael Login y registro*/
.contenedor-Seccion {
    display: flex;
    background-image: url('./imagen/patron.png');
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.contenedor-formulario {
    background-color: #143278;
    padding: 50%;
    text-align: center; 
    padding: 20px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    width: 30%;
    border-radius: 10px;
}

.contenedor-formulario h2{
    font-family: "Segoe UI";
    font-size: 200%;
    margin: 10px;
}

.contenedor-formulario h3{
    font-family: "Segoe UI";
    font-size: 150%;
    margin: 10px;
}

#logop {
    height: 115px;
    width: 115px;
}

.Seccion-form{
    justify-content: center;
    margin: 0% 20% 0% 20% ;
}

.Seccion-input input[Type="text"], [Type="number"], [Type="password"]{
    margin: 10% 0% 20% 0% ;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    height: 30%;
    width: 80%;
    color: #fff;
    font-size: 16px;
    display: block;
}

.Seccion-input p{
    font-family: "Segoe UI";
}

.Seccion-botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3px 3px 3px 3px;
    
}
.Seccion-control {
    margin: 0% 0% 0% 0% ;
    text-decoration: none;
    border: none;     
}
.Seccion-control, a{
    text-decoration: none;
    font-style: none;
    color: white;
}

.Seccion-control button{
    background-color: #EEA2B3;
    border: none;
    color: white;
    padding: 10px 24px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px 3px 3px 3px;
}
    button:hover, a:hover{
        background-color: #ACE5FF;
        color: #0b1f4d;
    }


::placeholder {
    color: rgb(182, 182, 182);
    font-size: 18px;
  }

/*Joel TablaPeriodica Paguina  2*/
table{
    table-layout: fixed;
    border:none;
    border-spacing:1% 1%;
    width: 100%;
	height: 100%;
	
}

tr, td {
    border: 0.2%;
    font-size: 71%;
    
}

.vacio{
    border:none;
}
.nometales{
    background-color: #DDABFF;
    
}
.alcalino{
    background-color: #F7CAAC;
}
.alcalinoterreos{
    background-color: #f8d97a;
}
.centrocolumnas{
    background-color: #e4e424;
}
.semimetal{
    background-color: #68FB61;
}
.gasesnobles{
    background-color: #00CCFF;
}
.columna17{
    background-color: #FF66FF;
}
.metaldebloque{
    background-color: #FF66FF;
    }
.segundatabla{
    margin-top: 2em;
    margin-left:2em;
    margin-bottom: 2em;
}
.lantanidosyactinidos{
    background-color: #7fca49;
}


.TablaP{
    padding:0%;
    margin:0%;
}

    #Tabla a:hover {
        background-color: #031FA2;
        color:#ffffff;
        transform: scale(1.1);
        display:block; 
        width: 45%;
        height: 100%;
        text-decoration: none;
    }

    #Tabla a{
        text-decoration: none;
        color:#000000;}

    #Tabla a:active{ background-color:#e54caf;}

/* Registro formulario*/
.divy{
    padding: 10px;
    overflow: auto;
    display: inline-block;
}
.h1g{
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Tiro Bangla', serif;
    margin-top:2%;
    font-size: 250%;
    color: #69bce2;
    text-align: center;
}
.encabezadosec{
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 20px;
}


.encabezadosec h4{
    color:#011963;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    margin: 20px;
} 

    .alterh4{
        color:#011963;
        font-family: "Times New Roman", Times, serif;
        font-size: 30px;
        text-align: center;
        margin: 20px;
    } 

.encabezadosec p{
    text-align: justify;
    overflow: auto;
    display: block;
    padding: 10px;
    text-align: center;
}

    .pCiencia{
        color: #011963;
        font-family: Georgia, serif;
        font-size: 15px; 
        margin: 1px;
    }

    .pProgramacion{
        color:#011963;
        font-family: Georgia, serif;
        font-size: 20px;
        margin: 20px;
    } 
    .pQuimica{
        color: #011963;
        font-family: Georgia, serif;
        font-size: 20px;
        margin: 20px;
    } 
  
.formulario{
    font-family: Arial;
    color:#000000;
    background-color: #ffffff;
    padding: 5px 10px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 3px;
}

.formulario form {
    padding: 0% 0% 0% 40%;
    align-items: center;
}




#jul21{
    padding-left: 50px;
}

.formulario button{
        background-color: #3874c4;
        border: none;
        color: white;
        padding: 10px 24px;
        margin-right: 15%;
        margin-left: -4%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 3px 3px 3px 3px;
    }
    
.formulario button:hover{
        background-color: rgb(143, 120, 247);
    }

    .exito_body_html {
        height: 100%;
    }
    
    .contenedor-Seccion {
        display: flex;
        background-image: url('imagen/patron.png');
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    
    .contenedor-formulario {
        background-color: #143278;
        padding: 50%;
        text-align: center; 
        padding: 20px;
        overflow: hidden;
        color: rgb(255, 255, 255);
        width: 30%;
        border-radius: 10px;
    }
    
    .contenedor-formulario h2{
        font-family: "Segoe UI";
        font-size: 200%;
        margin: 10px;
    }
    
    .contenedor-formulario h3{
        font-family: "Segoe UI";
        font-size: 150%;
        margin: 10px;
    }
    
    #logop {
        height: 115px;
        width: 115px;
    }
    
    .Seccion-form{
        justify-content: center;
        margin: 0% 20% 0% 20% ;
    }
    
    .Seccion-input input[Type="text"], [Type="number"], [Type="password"]{
        margin: 10% 0% 20% 0% ;
        justify-content: center;
        align-items: center;
        border: none;
        border-bottom: 1px solid #ffffff;
        background: transparent;
        height: 30%;
        width: 80%;
        color: #fff;
        font-size: 16px;
        display: block;
    }
    
    .Seccion-input p{
        font-family: "Segoe UI";
    }
    
    .Seccion-botones{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 3px 3px 3px 3px;
        
    }
    .Seccion-control {
        margin: 0% 0% 0% 0% ;
        text-decoration: none;
        border: none;     
    }
    .Seccion-control, a{
        text-decoration: none;
        font-style: none;
        color: white;
    }

.exitoh1 {
    color: #ffffff;;
    font-family: "Times New Roman";
    font-size: 32px;

}

/*Joel contactanos Paguina  4*/
.imagen{
    height: 225px;
    width: 210px;
    border-radius: 49%;
}
.flexbox{
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

.item{
    margin-right: 10%;
    margin-left:10%;
    text-align: center;
}

    
.contactanos{
    padding: 20px;
    text-align: center;
}

.contactanos h1{
    color: #f79e4b;
    font-weight: bold;
}

.contactanos h4{
    color: #0b1f4d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 5% 0;
}

.contactanos p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0b1f4d;
    margin: 0 0 5% 0;
}

/*Pie de Paguina*/

footer {
    display: flex;
    flex-direction: row;
    background-color: #0b1f4d;
    color: #ACE5FF;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}

    footer h2{
        font-family: 'ABeeZee', sans-serif;
        font-size: 125%;
        color: #ffffff;
    }
    footer img {
        width: 100px;
        height: 100px;
        margin: 0 0% 0 30%;
        border-radius: 50%;
    }