*{
    margin: 0;
    padding: 0;
}

body{
    background-color:   #daf8ff
}

h1{
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-size: 250%;
    color: #ACE5FF;
}



h3{
    text-align: center;
}

header{
    background: #143278;
    text-align: center;
    margin: 0%;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    padding-left: 25px;

}

    header .logo{
    height: 150PX;
    width: 150PX;
    }


    .encabezado{
        width: 100%;
        background-color: #143278;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.menu{
    background-color: #143278;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.encabezado1{
    width: 100%;
    padding: 10% 0% 5% 0%;
    text-align: center;


}
    .encabezado1 h2{
        font-family: "Segoe UI";
        font-size: 350%;
        color: #ffffff;
    }
        


.encabezado2{
    background-color: #143278;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    
    .encabezado2 div{
        display: flex;
        justify-content:left;
    }
    .encabezado2 div ul {
        list-style: none;
        display: flex;
        justify-content:space-between;
    }
    
    a{
        text-decoration: none;
        font-size: 125%;
        font-family: "Segoe UI";
        color: rgb(255, 255, 255);
        padding: 12px 20px;
        display: block;
    }

    .encabezado2 a:hover{
        background: #ACE5FF;
        color: #011963;
    }


    .encabezado2 div ul li ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #49B9D5;
        display: none;
    }
    .encabezado2 div ul li:hover > ul{
        display: block;
    }



table{
    table-layout: fixed;
    border:none;
    border-spacing:1% 1%;
    width: 100%;
	height: 100%;
}

th, td {
    border: 0.5%;
    font-size: 0.7em;
    
}


.vacio{
    border:none;
}
.nometales{
    background-color: #DDABFF;
    
}
.alcalino{
    background-color: #F7CAAC;
}
.alcalinoterreos{
    background-color: #f8d97a;
}
.centrocolumnas{
    background-color: #e4e424;
}
.semimetal{
    background-color: #68FB61;
}
.gasesnobles{
    background-color: #00CCFF;
}
.columna17{
    background-color: #FF66FF;
}
.metaldebloque{
    background-color: #FF66FF;
}
.segundatabla{
    margin-top: 2em;
    margin-left:2em;
    margin-bottom: 2em;
}
.lantanidosyactinidos{
    background-color: #7fca49;
}


.TablaP{
    padding: 1.5em;
}

    #Tabla a:hover {
        background-color: #031FA2;
        color:#ffffff;
        transform: scale(1.1);
        display:block; 
        width: 65%;
        height: 100%;
        text-decoration: none;
    }

    #Tabla a{
        text-decoration: none;
        color:#000000;}

    #Tabla a:active{ background-color:#e54caf;}

.imagen{
    height: 225px;
    width: 210px;
    border-radius: 49%;
}
.flexbox{
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

.item{
    margin-right: 10%;
    margin-left:10%;
    text-align: center;
}

    
.contactanos{
    padding: 20px;
}

.contactanos h1{
    color: #f79e4b;
    font-weight: bold;
}

.contactanos h4{
    color: #0b1f4d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 5% 0;
}

.contactanos p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0b1f4d;
    margin: 0 0 5% 0;
}

   footer {
    display: flex;
    flex-direction: row;
    background-color: #0b1f4d;
    color: #ACE5FF;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


    footer img {
        width: 100px;
        height: 100px;
        margin: 0 0% 0 30%;
        border-radius: 50px;
    }


