

/*AIRLENYS agregué el encabezado pero tuve que hacer cambios*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:   #49B9D5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-size: 500%;
    color: #ACE5FF;
    text-align: center;
}

h3{
    text-align: center;
}

header{
    background: #143278;
    text-align: center;
    margin: 0%;
    display: flex;
    justify-content: center; 
    justify-content: space-evenly; 
    align-items: center;

}

    header .logo{
    height: 200PX;
    width: 200PX;
    }

    header h2{
        font-family: "Segoe UI";
        font-size: 350%;
        color: #ffffff;
    }
    .encabezado{
        width: 100%;
        background-color: #ACE5FF;

    }

.encabezado2{
    background-color: #143278;
    position: sticky;
}
    .encabezado2 div{
        display: flex;
        justify-content:left;
    }
    .encabezado2 div ul {
        list-style: none;
        display: flex;
        justify-content:space-between;
    }
    
    .encabezado2 a{
        text-decoration: none;
        font-size: 20px;
        color: rgb(255, 255, 255);
        padding: 12px 20px;
        display: block;
    }

    .encabezado2 a:hover{
        background: #ACE5FF;
        color: #011963;
    }


    .encabezado2 div ul li ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #49B9D5;
        display: none;
    }
    .encabezado2 div ul li:hover > ul{
        display: block;
    }

/*AIRLENYS aquí termina la primera parte que agrgué*/


/* Ayuda para que los elementos sean tomados en linea  */
.divy{
    padding: 10px;
    overflow: auto;
    display: inline-block;
}

.encabezadosec{
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 20px;
}


h4{
    color:#011963;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    margin: 20px;
} 

    .alterh4{
        color:#011963;
        font-family: "Times New Roman", Times, serif;
        font-size: 30px;
        text-align: center;
        margin: 20px;
    } 

p{
    text-align: justify;
    overflow: auto;
    display: block;
    padding: 10px;
    text-align: center;
}

    .pCiencia{
        color: #011963;
        font-family: Helvetica;
        font-size: 15px; 
        margin: 1px;
    }

    .pProgramacion{
        color:#011963;
        font-family: "Courier New", Courier, monospace;
        font-size: 20px;
        margin: 20px;
    } 
    .pQuimica{
        color: #011963;
        font-family: Georgia, serif;
        font-size: 20px;
        margin: 20px;
    } 
  
.formulario{font-family: Arial;
    color:#000000;
    background-color: #ffffff;
    padding: 5px 10px;}

    button{
        background-color: #3874c4;
        border: none;
        color: white;
        padding: 10px 24px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 3px 3px 3px 3px;
    }
    
    button:hover{
        background-color: rgb(143, 120, 247);
    }



/*segundo arreglo*/

  footer {
    display: flex;
    flex-direction: row;
    background-color: #0b1f4d;
    color: #ACE5FF;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


    footer img {
        width: 100px;
        height: 100px;
        margin: 0 0% 0 30%;
        border-radius: 50px;
    }


