body {
    background-color: black;
}
.Caja1 {
    background-color: aqua;
    margin: 10% 30% 5% 30%;
    text-align: center;
}
#komi {
    height: 200px;
    width: 200px;
    margin: 3% 0 0 0;
}
.Caja1 form label {
    position: absolute;
    margin: 0% 0 0 0%;
}
.Caja1 form [type=text], .Caja1 form [type=password]{
    margin: 0% 0 0 15% ;
}
.Caja1 form [type=submit],.Caja1 form [type=button] {
    margin: 3% 2% 1% 0 ;
}